<% layout("/layouts/boilerplate.ejs") %>
<br>
<h2>Result</h2>

<div class="row mt-3">
<div class="col-8 offset-2">
    <form action="/home?_method=POST" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <button class="btn btn-dark edit-btn mt-3">Done</button> 
        <!-- <br><br> -->
        </div>
</div>